<div
  *ngIf="isOpen"
  @overlayFade
  (@overlayFade.done)="onAnimationDone($event)"
  class="fixed inset-0 bg-black/60 flex items-center justify-center z-50">

  <!-- Modal Card -->
  <div
    @modalScale
    class="bg-[var(--card)] w-full max-w-sm rounded-3xl border border-[var(--border)] backdrop-blur-2xl text-[var(--text)] shadow-2xl p-6">

    <h2 class="text-lg font-semibold mb-2">
      {{ title }}
    </h2>

    <div class="mb-6">
      <ng-content></ng-content>

      <!-- fallback if no custom content -->
      <p *ngIf="!hasProjectedContent" class="text-sm text-[var(--text)] opacity-70 whitespace-pre-line">
        {{ message }}
      </p>
    </div>

    <div class="flex justify-end space-x-3">
      <button
        (click)="onCancel()"
        class="secondary-button">
        {{ cancelText }}
      </button>

      <button
        (click)="onConfirm()"
        class="danger-button">
        {{ confirmText }}
      </button>
    </div>

  </div>
</div>