<aside class="w-64 bg-white p-4 rounded shadow hidden md:block">
  <nav class="space-y-2">
    <a routerLink="/home" 
      routerLinkActive="active-link" 
      class="sidebar-link flex flex-row items-center gap-2">

      <img src="assets/icons/home.svg" alt="Home" class="w-4 h-4" />
      <span>Home</span>

    </a>

    <a routerLink="/messages" 
      routerLinkActive="active-link" 
      class="sidebar-link flex flex-row items-center gap-2">

      <img src="assets/icons/message.svg" alt="Messages" class="w-4 h-4" />
      <span>Messages</span>

    </a>

    <a routerLink="/notifications" 
      routerLinkActive="active-link" 
      class="sidebar-link flex flex-row items-center gap-2">

      <img src="assets/icons/notification.svg" alt="Notifications" class="w-4 h-4" />
      <span>Notifications</span>

    </a>

    <a routerLink="/connections" 
      routerLinkActive="active-link" 
      class="sidebar-link flex flex-row items-center gap-2">

      <img src="assets/icons/friends.svg" alt="Connections" class="w-4 h-4" />
      <span>Connections</span>

    </a>

    <a routerLink="/groups" 
      routerLinkActive="active-link" 
      class="sidebar-link flex flex-row items-center gap-2">

      <img src="assets/icons/united.svg" alt="Groups" class="w-4 h-4" />
      <span>Groups</span>

    </a>
  </nav>
</aside>